@page
@using ACME.Products.Localization
@using ACME.Products.Web.Pages.Products
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model CreateModalModel
@inject IStringLocalizer<ProductsResource> L
@{
    Layout = null;
}
<form asp-page="/Products/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["NewProduct"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Product.ProductName" />
            <abp-input asp-for="Product.Price" type="number" />
            <abp-select asp-items="Model.Categories" asp-for="Product.CategoryIds" />
            <abp-input asp-for="Product.UnitsInStock" />
            <abp-input asp-for="Product.Published" />
            <abp-input asp-for="Product.PublishDate" />
            <abp-input asp-for="Product.Picture" label="@L["Picture"].Value"
                       hidden accept="image/*"
                       onchange="(function t() { loadImagePreview('Product.Picture', 'imgPreview','/placeholders/th.jpg') })()" />
            <div>
                <img class="d-block mb-2" id="imgPreview" src="~/placeholders/th.jpg" width="173" />
                <button type="button" class="btn btn-sm btn-primary" onclick="(function(){ triggerFileInput('Product.Picture'); })()">@L["ChoosePicture"].Value</button>
                <button type="button"
                        class="btn btn-sm btn-danger"
                        onclick="(function t() {
                                document.getElementById('imgPreview').setAttribute('src', '/placeholders/th.jpg');
                                clearFileInput('Product.Picture');

                        })()">
                    @L["Delete"].Value
                </button>
            </div>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>